<!DOCTYPE html>
<html>
 <head>
 	<title>Admin Area</title>
 </head>
 <body>
 	 <h1>Goryofolio: Admin Area</h1>
   <form action="/editportfolio" enctype="multipart/form-data" method="post">
   	<input type="hidden" name="id" value="{{portfolio.key()}}" />
   <div><label>Title:</label><br /><input type="text" name="title" maxlength="50" value="{{portfolio.title}}"/></div>
     
   <div><label>Status:</label><br />
     <div><label>Status:</label><br /><input type="radio" name="status" value="Past" {% if portfolio.status == 'Past' %} checked="checked" {% endif %}>Past<br>
		<input type="radio" name="status" value="In Progress" {% if portfolio.status == 'In Progress' %} checked="checked" {% endif %}>In Progress</div>  
     
     </div>
     
     
   <div><label>Description:</label><br /><textarea name="description" rows="4" cols="60">{{portfolio.description}}</textarea></div>
   <div><label>URL:</label><br /><input type="text" name="link_url" value="{{portfolio.link_url}}"/></div>
   <div><label>Pic:</label><br /><input type="file" name="img" /></div>
   <input type="submit" value="submit">
   </form>
   
 </body>
</html>
