/*body{
	font-family: 'Special Elite', cursive;
}

.entries{
	margin: 10px;
}

.entries img{
	margin-right:20px;
	display:inline-block;
}

.entries .title{
	font-size: 30px;
	display: inline;
	width: 200px;
}

.details{
	display:inline-block;
	margin-top:15px;
}

.contact{
	font-size: x-small;
}

.contact p{
	font-style: italic;
}*/


body {
    font-family: 'Special Elite', cursive;
    margin-top: 50px;
}
footer {
    margin: 50px 0;
}

.navbar-inverse {
    background-image: linear-gradient(to bottom, rgb(0, 150, 60) 0px, rgb(34, 34, 34) 100%);
}